In [1]:
# Imports

import pandas as pd
import os

In [2]:
pwd = os.getcwd()
pwd

'/Users/jasonisberto/Python_Projects/Netflix Movies and TV Shows'

In [3]:
# Increase width of Jupyter Notebook interface

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [4]:
netflix_data = pd.read_csv('netflix_titles.csv')
netflix_data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

## Task 1: What is the most popular release year for movies on Netflix?

In [7]:
# My attempt 

netflix_data['release_year'].value_counts()

2018    1147
2017    1032
2019    1030
2020     953
2016     902
        ...
1966       1
1925       1
1947       1
1959       1
1961       1
Name: release_year, Length: 74, dtype: int64

In [6]:
# Need to filter for just movies, not movies and tv shows

movies_data = netflix_data[netflix_data['type'] == 'Movie']

In [20]:
# Sanity check that this worked

# unique() -- Return unique values based on a hash table

movies_data['type'].unique()

array(['Movie'], dtype=object)

In [21]:
# Sanity check that this worked

movies_data['type'].value_counts()

Movie    6131
Name: type, dtype: int64

In [12]:
movies_data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
...,...,...,...,...,...,...,...,...,...,...,...,...
8801,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [7]:
# Tutorial way with 
# groupby()
# reset_index()

movies_data['count'] = 1

tut_release_years_summed = movies_data.groupby(['release_year']).sum().reset_index()[['release_year', 'count']]

<ipython-input-7-89e5f57ed103>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data['count'] = 1

In [42]:
# My way with value_counts()
# Issue - not a df? Can't do a sort_values() since there are no column headers

ji_release_years_summed = movies_data['release_year'].value_counts()
ji_release_years_summed

2018    767
2017    767
2016    658
2019    633
2020    517
       ...
1947      1
1966      1
1963      1
1959      1
1946      1
Name: release_year, Length: 73, dtype: int64

In [38]:
# sort_values()
tut_release_years_summed.sort_values(['count'], ascending = False)

    release_year  count
69          2018    767
68          2017    767
67          2016    658
70          2019    633
71          2020    517
..           ...    ...
12          1961      1
14          1963      1
17          1966      1
5           1947      1
4           1946      1

[73 rows x 2 columns]

#### Task 1 Answer: release_year 2017 or 2018 with 767 movie count each

## Task 2: What year did Netflix release the most content to its platform?

In [44]:
netflix_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [45]:
# info()

netflix_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [8]:
# pd.to_datetime() - converting an object column with a date value, to a date format

netflix_data['date_time'] = pd.to_datetime(netflix_data['date_added'])

netflix_data['date_time'].head()

0   2021-09-25
1   2021-09-24
2   2021-09-24
3   2021-09-24
4   2021-09-24
Name: date_time, dtype: datetime64[ns]

In [9]:
netflix_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
 12  date_time     8797 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(11)
memory usage: 894.6+ KB

In [17]:
# dt

netflix_data['date_added_year'] = netflix_data['date_time'].dt.year

In [19]:
netflix_data.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,date_time,date_added_year
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",2021-09-25,2021.0
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2021-09-24,2021.0

In [28]:
netflix_data['count'] = 1

netflix_yearly_content_summed = netflix_data.groupby(['date_added_year']).sum().reset_index()[['date_added_year', 'count']]

In [29]:
netflix_yearly_content_summed.sort_values(['count'], ascending = False)

    date_added_year  count
11           2019.0   2016
12           2020.0   1879
10           2018.0   1649
13           2021.0   1498
9            2017.0   1188
8            2016.0    429
7            2015.0     82
6            2014.0     24
3            2011.0     13
5            2013.0     11
4            2012.0      3
0            2008.0      2
1            2009.0      2
2            2010.0      1

#### Task 2 Answer: Year 2016, Netflix released 2016 mediums of content

## Task 3: Independent of year, what is the most popular month to add new content?

In [30]:
netflix_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,date_time,date_added_year,count
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",2021-09-25,2021.0,1
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2021-09-24,2021.0,1
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,2021-09-24,2021.0,1
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",2021-09-24,2021.0,1
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,2021-09-24,2021.0,1

In [32]:
netflix_data['date_added_month'] = netflix_data['date_time'].dt.month

In [33]:
netflix_data.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,date_time,date_added_year,count,date_added_month
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",2021-09-25,2021.0,1,9.0
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2021-09-24,2021.0,1,9.0

In [37]:
# netflix_data['count'] = 1 -- we don't need to redo this again, as it's already been ran in previous cell

netflix_monthly_content_summed = netflix_data.groupby(['date_added_month']).sum().reset_index()[['date_added_month','count']]

In [39]:
netflix_monthly_content_summed.sort_values(['count'], ascending = False)

    date_added_month  count
6                7.0    827
11              12.0    813
8                9.0    770
3                4.0    764
9               10.0    760
7                8.0    755
2                3.0    742
0                1.0    738
5                6.0    728
10              11.0    705
4                5.0    632
1                2.0    563

#### Task 3 Answer: July is the month where Netflix releases the most content

## Task 4: What is the movie with the longest title in the data set?

In [40]:
netflix_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,date_time,date_added_year,count,date_added_month
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",2021-09-25,2021.0,1,9.0
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2021-09-24,2021.0,1,9.0
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,2021-09-24,2021.0,1,9.0
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",2021-09-24,2021.0,1,9.0
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,2021-09-24,2021.0,1,9.0

In [42]:
# movies_data = netflix_data[netflix_data['type'] == 'Movie'] -- previous code ran in earlier cell to isolate for only 'Movie' types

movies_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,count
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",1
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,1
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",1
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,1
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...,1

In [46]:
# len() -- function is used to compute the length of each element in the Series/Index

movies_data['title_length'] = len(movies_data['title']) # -- this will count the number of rows, which is not what we're looking for

<ipython-input-46-1aa4643c89a4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data['title_length'] = len(movies_data['title'])

In [47]:
# drop(columns = ['']) -- drop a column from a df

movies_data.drop(columns = ['title_length'])

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,count
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",1
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,1
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",1
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,1
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8801,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...,1
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",1
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,1
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",1
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,1

In [48]:
movies_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,count,title_length
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",1,6131
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,1,6131
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",1,6131
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,1,6131
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...,1,6131

In [49]:
movies_data['title_length'] = [len(title) for title in movies_data['title']]

<ipython-input-49-8aa3426f1788>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data['title_length'] = [len(title) for title in movies_data['title']]

In [50]:
movies_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,count,title_length
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",1,20
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,1,32
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",1,7
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,1,12
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...,1,12

In [60]:
top_title_length = movies_data.sort_values(['title_length'], ascending = False)

In [61]:
top_title_length

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,count,title_length
5164,s5165,Movie,Jim & Andy: The Great Beyond - Featuring a Ver...,Chris Smith,Jim Carrey,"Canada, United States","November 17, 2017",2017,TV-MA,94 min,Documentaries,Through the lens of his stunningly immersive p...,1,104
8462,s8463,Movie,The Power of Grayskull: The Definitive History...,"Randall Lobb, Robert McCallum",NaN,"Canada, United States","August 24, 2018",2017,TV-14,96 min,Documentaries,This colorful documentary explores the origins...,1,88
3240,s3241,Movie,Mike Birbiglia: What I Should Have Said Was No...,NaN,Mike Birbiglia,United States,"November 22, 2019",2008,TV-MA,56 min,Stand-Up Comedy,Mike Birbiglia performs in this live concert s...,1,88
4851,s4852,Movie,Steve Martin and Martin Short: An Evening You ...,Marcus Raboy,"Steve Martin, Martin Short",United States,"May 25, 2018",2018,TV-14,74 min,Stand-Up Comedy,Longtime pals and showbiz icons Steve Martin a...,1,83
3479,s3480,Movie,Cultivating the Seas: History and Future of th...,Mana Yasuda,NaN,NaN,"September 28, 2019",2019,TV-PG,45 min,"Documentaries, International Movies",An in-depth look at the full-cycle breeding pr...,1,79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3668,s3669,Movie,4L,Gerardo Olivares,"Jean Reno, Hovik Keuchkerian, Susana Abaitua, ...",Spain,"July 12, 2019",2019,TV-MA,105 min,"Comedies, Dramas, Independent Movies","Hoping to reunite with a dying friend, two lon...",1,2
5959,s5960,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,1,2
4177,s4178,Movie,IO,Jonathan Helpert,"Margaret Qualley, Anthony Mackie, Danny Huston",United States,"January 18, 2019",2019,TV-14,96 min,"Dramas, Sci-Fi & Fantasy",As a young scientist searches for a way to sav...,1,2
7687,s7688,Movie,P,Paul Spurrier,"Suangporn Jaturaphut, Opal, Dor Yodrak, Pisama...","United Kingdom, Thailand","May 31, 2019",2006,TV-MA,105 min,"Horror Movies, International Movies",An orphan girl taught magic by her sick grandm...,1,1
5958,s5959,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",1,1

In [65]:
# iloc -- Purely integer-location based indexing for selection by position.
top_title_length.iloc[0]['title']

'Jim & Andy: The Great Beyond - Featuring a Very Special, Contractually Obligated Mention of Tony Clifton'

#### Task 4 Answer: 'Jim & Andy: The Great Beyond - Featuring a Very Special, Contractually Obligated Mention of Tony Clifton'
title_length: 104

## Task 5: Which actor/actress shows up most frequently in the Netflix data set

In [66]:
netflix_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,date_time,date_added_year,count,date_added_month
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",2021-09-25,2021.0,1,9.0
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2021-09-24,2021.0,1,9.0
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,2021-09-24,2021.0,1,9.0
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",2021-09-24,2021.0,1,9.0
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,2021-09-24,2021.0,1,9.0

In [70]:
# pd.options.display.max_colwidth -- finding out max column width and expanding as needed

pd.options.display.max_colwidth = 150

In [71]:
netflix_data[['title', 'cast']]

,title,cast
0,Dick Johnson Is Dead,NaN
1,Blood & Water,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thabang Molaba, Dillon Windvogel, Natasha Thahane, Arno Greeff, Xolile Tshabalala, Getmore Sithole, Cindy ..."
2,Ganglands,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabiha Akkari, Sofia Lesaffre, Salim Kechiouche, Noureddine Farihi, Geert Van Rampelberg, Bakary Diombera"
3,Jailbirds New Orleans,NaN
4,Kota Factory,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam Khan, Ahsaas Channa, Revathi Pillai, Urvi Singh, Arun Kumar"
...,...,...
8802,Zodiac,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey Jr., Anthony Edwards, Brian Cox, Elias Koteas, Donal Logue, John Carroll Lynch, Dermot Mulroney, Chlo..."
8803,Zombie Dumb,NaN
8804,Zombieland,"Jesse Eisenberg, Woody Harrelson, Emma Stone, Abigail Breslin, Amber Heard, Bill Murray, Derek Graf"
8805,Zoom,"Tim Allen, Courteney Cox, Chevy Chase, Kate Mara, Ryan Newman, Michael Cassidy, Spencer Breslin, Rip Torn, Kevin Zegers"
8806,Zubaan,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanana, Manish Chaudhary, Meghna Malik, Malkeet Rauni, Anita Shabdish, Chittaranjan Tripathy"

In [73]:
# for loop to iterate through the data frame and count things into a dictionary

title_and_cast = netflix_data[['title', 'cast']]

In [83]:
title_and_cast = title_and_cast.dropna()

In [74]:
title_and_cast.head()

,title,cast
0,Dick Johnson Is Dead,NaN
1,Blood & Water,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thabang Molaba, Dillon Windvogel, Natasha Thahane, Arno Greeff, Xolile Tshabalala, Getmore Sithole, Cindy ..."
2,Ganglands,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabiha Akkari, Sofia Lesaffre, Salim Kechiouche, Noureddine Farihi, Geert Van Rampelberg, Bakary Diombera"
3,Jailbirds New Orleans,NaN
4,Kota Factory,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam Khan, Ahsaas Channa, Revathi Pillai, Urvi Singh, Arun Kumar"

In [77]:
# sanity check to make sure your for loop is returning what's expected
for index, row in title_and_cast.iterrows():
    print(index)
    print()
    print(row)
    break

0

title    Dick Johnson Is Dead
cast                      NaN
Name: 0, dtype: object

In [87]:
# itterrows()
# split()
# strip()
# lower()

cast_names_counter = {} # dictionary

for index, row in title_and_cast.iterrows():
    movie_cast = row['cast']
    movie_cast_split = movie_cast.split(',')
    movie_cast_stripped = [name.strip().lower() for name in movie_cast_split]
    print(movie_cast_stripped)
    print()
    if index == 5:
        break

['ama qamata', 'khosi ngema', 'gail mabalane', 'thabang molaba', 'dillon windvogel', 'natasha thahane', 'arno greeff', 'xolile tshabalala', 'getmore sithole', 'cindy mahlangu', 'ryle de morny', 'greteli fincham', 'sello maake ka-ncube', 'odwa gwanya', 'mekaila mathys', 'sandi schultz', 'duane williams', 'shamilla miller', 'patrick mofokeng']

['sami bouajila', 'tracy gotoas', 'samuel jouy', 'nabiha akkari', 'sofia lesaffre', 'salim kechiouche', 'noureddine farihi', 'geert van rampelberg', 'bakary diombera']

['mayur more', 'jitendra kumar', 'ranjan raj', 'alam khan', 'ahsaas channa', 'revathi pillai', 'urvi singh', 'arun kumar']

['kate siegel', 'zach gilford', 'hamish linklater', 'henry thomas', 'kristin lehman', 'samantha sloyan', 'igby rigney', 'rahul kohli', 'annarah cymone', 'annabeth gish', 'alex essoe', 'rahul abburi', 'matt biedel', 'michael trucco', 'crystal balint', 'louis oliver']

In [93]:
# sorted()
# items()
# lambda
# dict()

cast_names_counter = {} # dictionary

for index, row in title_and_cast.iterrows():
    movie_cast = row['cast']
    movie_cast_split = movie_cast.split(',')
    movie_cast_stripped = [name.strip().lower() for name in movie_cast_split]
    for name in movie_cast_stripped:
        cast_names_counter[name] = cast_names_counter.get(name, 0) + 1
        
dict(sorted(cast_names_counter.items(), key = lambda item: item[1], reverse = True))

{'anupam kher': 43,
 'shah rukh khan': 35,
 'julie tejwani': 33,
 'naseeruddin shah': 32,
 'takahiro sakurai': 32,
 'rupa bhimani': 31,
 'akshay kumar': 30,
 'om puri': 30,
 'yuki kaji': 29,
 'amitabh bachchan': 28,
 'paresh rawal': 28,
 'boman irani': 27,
 'rajesh kava': 26,
 'vincent tong': 26,
 'andrea libman': 25,
 'kareena kapoor': 25,
 'samuel l. jackson': 24,
 'john cleese': 24,
 'jigna bhardwaj': 23,
 'fred tatasciore': 23,
 'tara strong': 23,
 'daisuke ono': 22,
 'junichi suwabe': 21,
 'ajay devgn': 21,
 'ashleigh ball': 21,
 'kay kay menon': 21,
 'nicolas cage': 21,
 'nawazuddin siddiqui': 21,
 'adam sandler': 20,
 'david attenborough': 20,
 'salman khan': 20,
 'david spade': 19,
 'yuichi nakamura': 19,
 'erin fitzgerald': 19,
 'mamoru miyano': 19,
 'morgan freeman': 19,
 'james franco': 19,
 'seth rogen': 19,
 'ai kayano': 19,
 'fred armisen': 19,
 'gulshan grover': 19,
 'vatsal dubey': 18,
 'rajesh sharma': 18,
 'fortune feimster': 18,
 'diana kaarina': 18,
 'yashpal sharma': 18,
 'kana hanazawa': 18,
 'laura bailey': 18,
 'anil kapoor': 18,
 'debi derryberry': 18,
 'bruce willis': 17,
 'molly shannon': 17,
 'rajpal yadav': 17,
 'brian drummond': 17,
 'michela luci': 17,
 'alessandro juliani': 17,
 'danny trejo': 17,
 'priyanka chopra': 17,
 'asrani': 17,
 'jackie shroff': 17,
 'saif ali khan': 17,
 'kate higgins': 17,
 'maya rudolph': 16,
 'blossom chukwujekwu': 16,
 'miyuki sawashiro': 16,
 'jun fukuyama': 16,
 'kari wahlgren': 16,
 'tinnu anand': 16,
 'yoshimasa hosoya': 16,
 'hiroshi kamiya': 16,
 'mike epps': 16,
 'laurence fishburne': 16,
 'sanjay mishra': 16,
 'manoj joshi': 16,
 'alfred molina': 16,
 'vijay raaz': 16,
 'kristen stewart': 16,
 'sam vincent': 16,
 'manoj bajpayee': 16,
 'tomokazu sugita': 16,
 'aamir khan': 16,
 'hassan hosny': 16,
 'robb wells': 16,
 'michael palin': 16,
 'amrish puri': 16,
 'chris rock': 15,
 'grey griffin': 15,
 'richard mofe-damijo': 15,
 'sonal kaushal': 15,
 'pankaj tripathi': 15,
 'willem dafoe': 15,
 'sanjay dutt': 15,
 'radhika apte': 15,
 'takehito koyasu': 15,
 'kathleen barr': 15,
 'michael peña': 15,
 'toyin abraham': 15,
 'keith david': 15,
 'erin mathews': 15,
 'ben kingsley': 15,
 'sean astin': 15,
 'antonio banderas': 15,
 'adil hussain': 15,
 'john paul tremblay': 15,
 'eric idle': 15,
 'mousam': 14,
 'swapnil': 14,
 'bimbo manuel': 14,
 'kazuhiko inoue': 14,
 'yoshitsugu matsuoka': 14,
 'woody harrelson': 14,
 'sabina malik': 14,
 'dee bradley baker': 14,
 'pierce brosnan': 14,
 'kenjiro tsuda': 14,
 'kulbhushan kharbanda': 14,
 'tony hale': 14,
 'shakti kapoor': 14,
 'rajkummar rao': 14,
 'rosario dawson': 14,
 'shaffy bello': 14,
 'yoko hikasa': 14,
 'ramsey nouah': 14,
 'demet akbağ': 14,
 'kevin michael richardson': 14,
 'natsuki hanae': 14,
 'tabitha st. germain': 14,
 'helen mirren': 14,
 'johnny depp': 14,
 'liam neeson': 14,
 'guy pearce': 14,
 'john travolta': 14,
 'ian james corlett': 14,
 'john abraham': 14,
 'irrfan khan': 14,
 'pavan malhotra': 14,
 'sachin khedekar': 14,
 'katrina kaif': 14,
 'sharat saxena': 14,
 'ranvir shorey': 14,
 'samuel west': 14,
 'terry jones': 14,
 'james marsden': 13,
 'nassar': 13,
 'dennis quaid': 13,
 'ryan reynolds': 13,
 'brendan gleeson': 13,
 'fumiko orikasa': 13,
 'saori hayami': 13,
 'tina mba': 13,
 'stanley tucci': 13,
 'vipin sharma': 13,
 'david koechner': 13,
 'joan cusack': 13,
 'mithun chakraborty': 13,
 'rishi kapoor': 13,
 'mohnish bahl': 13,
 'mahesh manjrekar': 13,
 'abhishek bachchan': 13,
 'amy adams': 13,
 'john c. reilly': 13,
 'maaya sakamoto': 13,
 'rob riggle': 13,
 'omoni oboli': 13,
 'cassandra morris': 13,
 'will ferrell': 13,
 'laura linney': 13,
 'jackie chan': 13,
 'david cross': 13,
 'liev schreiber': 13,
 'ray liotta': 13,
 'kevin hart': 13,
 'ricky gervais': 13,
 'nana patekar': 13,
 'rajit kapoor': 13,
 'ron perlman': 13,
 'cory doran': 13,
 'tiffany haddish': 13,
 'julie lemieux': 13,
 'gerard butler': 13,
 'seema biswas': 13,
 'jim broadbent': 13,
 'shahid kapoor': 13,
 'jamie watson': 13,
 'eric peterson': 13,
 'ahmed helmy': 13,
 'cindy robinson': 13,
 'graham chapman': 13,
 'terry gilliam': 13,
 'ken jeong': 12,
 'loretta devine': 12,
 'salma hayek': 12,
 'harrison ford': 12,
 'tom kenny': 12,
 'robert patrick': 12,
 'houko kuwashima': 12,
 'junko takeuchi': 12,
 'rikiya koyama': 12,
 'satoshi hino': 12,
 'katsuyuki konishi': 12,
 'glenn close': 12,
 'christina hendricks': 12,
 'america young': 12,
 'martin lawrence': 12,
 'kazuya nakai': 12,
 'william h. macy': 12,
 'robert de niro': 12,
 'jack black': 12,
 'eddie murphy': 12,
 'john malkovich': 12,
 'vidya balan': 12,
 'rie kugimiya': 12,
 'sayaka ohara': 12,
 'anton yelchin': 12,
 'andy samberg': 12,
 'danny mcbride': 12,
 'justin long': 12,
 'jacki weaver': 12,
 'halle berry': 12,
 'john leguizamo': 12,
 'steven yeun': 12,
 'naomi watts': 12,
 'robert pattinson': 12,
 'nobuhiko okamoto': 12,
 'paul giamatti': 12,
 'london hughes': 12,
 'judy greer': 12,
 'will smith': 12,
 'bruce greenwood': 12,
 'george clooney': 12,
 'ben mendelsohn': 12,
 'raghuvir yadav': 12,
 'john dunsworth': 12,
 'steve buscemi': 12,
 'elyse maloway': 12,
 'britt mckillip': 12,
 'susan sarandon': 12,
 'chris parnell': 12,
 'dermot mulroney': 12,
 'john michael higgins': 12,
 'johnny yong bosch': 12,
 'saurabh shukla': 12,
 'minako kotobuki': 12,
 'kathryn hahn': 12,
 'adam scott': 12,
 'patton oswalt': 12,
 'stephen fry': 12,
 'jeff dunham': 12,
 'paul dobson': 12,
 'jimmy shergill': 12,
 'cate blanchett': 12,
 'stephanie sheh': 12,
 'anna claire bartlam': 12,
 'nick swardson': 12,
 'juhi chawla': 12,
 'jason schwartzman': 12,
 'javed sheikh': 12,
 'jane krakowski': 11,
 'kevin james': 11,
 'rob schneider': 11,
 'gary oldman': 11,
 'amber heard': 11,
 'denzel washington': 11,
 'sam shepard': 11,
 'toshiyuki morikawa': 11,
 'megumi han': 11,
 'keith wickham': 11,
 'johny lever': 11,
 'gary cole': 11,
 'sylvester stallone': 11,
 'ryohei kimura': 11,
 'james cromwell': 11,
 'michael madsen': 11,
 'ben stiller': 11,
 'cedric the entertainer': 11,
 'tusshar kapoor': 11,
 'arjun rampal': 11,
 'sunil shetty': 11,
 'divya dutta': 11,
 'manisha koirala': 11,
 'elizabeth banks': 11,
 'kaito ishikawa': 11,
 'harvey keitel': 11,
 'alec baldwin': 11,
 'tracy morgan': 11,
 'julianne moore': 11,
 'anthony mackie': 11,
 'daisuke namikawa': 11,
 'kathy bates': 11,
 'julia roberts': 11,
 'mark hamill': 11,
 'tony todd': 11,
 'koichi yamadera': 11,
 'emile hirsch': 11,
 'frank grillo': 11,
 'peter facinelli': 11,
 'carla gugino': 11,
 'will forte': 11,
 'nicole oliver': 11,
 'don cheadle': 11,
 'lucy liu': 11,
 'jay baruchel': 11,
 'aoi yuki': 11,
 'kenta miyake': 11,
 'stephen lang': 11,
 'anthony anderson': 11,
 'michael jai white': 11,
 'nicole anthony': 11,
 'bobby cannavale': 11,
 'jigna bharadhwaj': 11,
 'matt damon': 11,
 'jessica chastain': 11,
 'keanu reeves': 11,
 'mario casas': 11,
 'meryl streep': 11,
 'konkona sen sharma': 11,
 'paul rudd': 11,
 'christopher lee': 11,
 'steve zahn': 11,
 'danny glover': 11,
 'sean bean': 11,
 'steve coogan': 11,
 'viola davis': 11,
 'kathryn bernardo': 11,
 'rani mukerji': 11,
 'michael shannon': 11,
 'keegan-michael key': 11,
 'terry crews': 11,
 'satish shah': 11,
 'dalip tahil': 11,
 'abhay deol': 11,
 'b.n. sharma': 11,
 'patrick warburton': 11,
 'alok nath': 11,
 'alison brie': 11,
 'mike smith': 11,
 'sathyaraj': 11,
 'tay ping hui': 11,
 "chris o'dowd": 10,
 'maria bello': 10,
 'yuri lowenthal': 10,
 'vera farmiga': 10,
 'kappei yamaguchi': 10,
 'chie nakamura': 10,
 'kohsuke toriumi': 10,
 'yukari tamura': 10,
 'romi park': 10,
 'teresa gallagher': 10,
 'adesua etomi': 10,
 'jide kosoko': 10,
 'hiroki yasumoto': 10,
 'will arnett': 10,
 'alan cumming': 10,
 'segun arinze': 10,
 'david harbour': 10,
 'nicole kidman': 10,
 'andy richter': 10,
 'janeane garofalo': 10,
 'greg kinnear': 10,
 'kurt russell': 10,
 'mike vogel': 10,
 'jada pinkett smith': 10,
 'neha dhupia': 10,
 'vivek oberoi': 10,
 'emraan hashmi': 10,
 'mikako komatsu': 10,
 'david oyelowo': 10,
 'beverly naya': 10,
 'prakash raj': 10,
 'sam neill': 10,
 'zoe saldana': 10,
 'mukesh tiwari': 10,
 'anthony hopkins': 10,
 'neil patrick harris': 10,
 'reina ueda': 10,
 'luis guzmán': 10,
 'shannon chan-kent': 10,
 'kevin corrigan': 10,
 'idris elba': 10,
 'jennifer garner': 10,
 'topher grace': 10,
 'taylor lautner': 10,
 'luis tosar': 10,
 'manoj pahwa': 10,
 'supriya pathak': 10,
 'james remar': 10,
 'lena headey': 10,
 'bayoumi fouad': 10,
 'mohammed tharwat': 10,
 'nick offerman': 10,
 'colin farrell': 10,
 'anna kendrick': 10,
 'john goodman': 10,
 'lake bell': 10,
 'joke silva': 10,
 'kate walsh': 10,
 'cameron diaz': 10,
 'luke wilson': 10,
 'louis koo': 10,
 'dustin hoffman': 10,
 'jon lovitz': 10,
 't.j. miller': 10,
 'jane lynch': 10,
 'cezmi baskın': 10,
 'rebecca shoichet': 10,
 'ali nuhu': 10,
 'kim coates': 10,
 'kazuyuki okitsu': 10,
 'sonali kulkarni': 10,
 'terrence howard': 10,
 'ewan mcgregor': 10,
 'tim blake nelson': 10,
 'zach galifianakis': 10,
 'jason isaacs': 10,
 'benedict cumberbatch': 10,
 'manav kaul': 10,
 'natalie dormer': 10,
 'm・a・o': 10,
 'jonah hill': 10,
 'patrick wilson': 10,
 'paul schrier': 10,
 'nat faxon': 10,
 'rahul bose': 10,
 'amy poehler': 10,
 'alia shawkat': 10,
 'reza rahadian': 10,
 'john carroll lynch': 10,
 'kalki koechlin': 10,
 'oprah winfrey': 10,
 'eddie marsan': 10,
 'russell peters': 10,
 'zakir hussain': 10,
 'raj babbar': 10,
 'nolan north': 10,
 'amrita rao': 10,
 'brijendra kala': 10,
 'arshad warsi': 10,
 'shreyas talpade': 10,
 'helena bonham carter': 10,
 'karamjit anmol': 10,
 'nobunaga shimazaki': 10,
 'preity zinta': 10,
 'jeff bennett': 10,
 'cam clarke': 10,
 'donnie yen': 10,
 'sonam kapoor': 10,
 'prem chopra': 10,
 'shraddha kapoor': 10,
 'hrithik roshan': 10,
 'christopher meloni': 10,
 'bruce dern': 10,
 'grey delisle': 10,
 'atul kulkarni': 10,
 'ramya krishnan': 10,
 'sardar sohi': 10,
 'tamannaah bhatia': 10,
 'johnny lever': 10,
 'giancarlo esposito': 9,
 'aishwarya rai bachchan': 9,
 'j.k. simmons': 9,
 'kunal kapoor': 9,
 'ben diskin': 9,
 'satsuki yukino': 9,
 'akio otsuka': 9,
 'kikuko inoue': 9,
 'tetsuya kakihara': 9,
 'yuhko kaida': 9,
 'jack whitehall': 9,
 'sola sobowale': 9,
 'koji yusa': 9,
 'mary elizabeth winstead': 9,
 'alexx ekubo': 9,
 'sarah natochenny': 9,
 'cherami leigh': 9,
 'gabriel iglesias': 9,
 'rob rackstraw': 9,
 'jennifer jason leigh': 9,
 'wanda sykes': 9,
 'jennifer coolidge': 9,
 'terence stamp': 9,
 'james hong': 9,
 'amanda seyfried': 9,
 'richard jenkins': 9,
 'jay o. sanders': 9,
 'shawn yue': 9,
 'martin short': 9,
 'joel mchale': 9,
 'diedrich bader': 9,
 'rajendranath zutshi': 9,
 'kangana ranaut': 9,
 'randeep hooda': 9,
 'sandra oh': 9,
 'gillian jacobs': 9,
 'bill burr': 9,
 'erica lindbeck': 9,
 'ashley greene': 9,
 'scott adkins': 9,
 'leonardo dicaprio': 9,
 'bill hader': 9,
 'thomas jane': 9,
 'jessica alba': 9,
 'joseph gordon-levitt': 9,
 'craig robinson': 9,
 'bruce mcgill': 9,
 'george lopez': 9,
 'keith silverstein': 9,
 'walton goggins': 9,
 'kelsey grammer': 9,
 'dakota fanning': 9,
 'michael sheen': 9,
 'cam gigandet': 9,
 'michelle yeoh': 9,
 'ireti doyle': 9,
 'bill murray': 9,
 'deepak dobriyal': 9,
 'cathy weseluck': 9,
 'maudy koesnaedi': 9,
 'makrand deshpande': 9,
 'mike myers': 9,
 'seth green': 9,
 'sam rockwell': 9,
 'lam suet': 9,
 'joe pantoliano': 9,
 'lacey chabert': 9,
 'clancy brown': 9,
 'judi dench': 9,
 'chris pine': 9,
 'zachary quinto': 9,
 'marc maron': 9,
 'sacha baron cohen': 9,
 'michael douglas': 9,
 'colm feore': 9,
 'paul bettany': 9,
 'vivica a. fox': 9,
 'scoot mcnairy': 9,
 'iliza shlesinger': 9,
 "catherine o'hara": 9,
 'alfre woodard': 9,
 'kazuhiro yamaji': 9,
 'steve blum': 9,
 'rosamund pike': 9,
 'forest whitaker': 9,
 'hugh bonneville': 9,
 'adam pally': 9,
 'mike colter': 9,
 'bassem samra': 9,
 'sam worthington': 9,
 'carlos alazraqui': 9,
 'salih kalyon': 9,
 'jennifer ehle': 9,
 'parker posey': 9,
 'gugu mbatha-raw': 9,
 'toni collette': 9,
 'michael stuhlbarg': 9,
 'vir das': 9,
 'mahershala ali': 9,
 'patricia clarkson': 9,
 'rob corddry': 9,
 'javed jaffrey': 9,
 'oscar isaac': 9,
 'sheeba chaddha': 9,
 'john dimaggio': 9,
 'jim cummings': 9,
 'manish chaudhary': 9,
 'kevin costner': 9,
 'frank langella': 9,
 'rashida jones': 9,
 'mae whitman': 9,
 'daniel padilla': 9,
 'uma thurman': 9,
 'kiernan shipka': 9,
 'joross gamboa': 9,
 'jake gyllenhaal': 9,
 'common': 9,
 'jenny slate': 9,
 'frank welker': 9,
 'andrew bachelor': 9,
 'aubrey plaza': 9,
 'govind namdeo': 9,
 'farida jalal': 9,
 'haruka tomatsu': 9,
 'manu rishi chadha': 9,
 'kristen bell': 9,
 'gurpreet guggi': 9,
 'eri kitamura': 9,
 'nicolas aqui': 9,
 'lotfy labib': 9,
 'jim gaffigan': 9,
 'stephen tobolowsky': 9,
 'pedro casablanc': 9,
 'danny denzongpa': 9,
 'murli sharma': 9,
 'maria bamford': 9,
 'shinichiro miki': 9,
 'karisma kapoor': 9,
 'vikram gokhale': 9,
 'reema lagoo': 9,
 'chloë grace moretz': 9,
 'salli saffioti': 9,
 'carmen machi': 9,
 'christopher plummer': 9,
 'vanessa hudgens': 8,
 'sahajak boonthanakit': 8,
 'bob odenkirk': 8,
 'david kaye': 8,
 'roger craig smith': 8,
 'snoop dogg': 8,
 'koji tsujitani': 8,
 'kumiko watanabe': 8,
 'mamiko noto': 8,
 'tomokazu seki': 8,
 'hiroyuki yoshino': 8,
 'hiro shimono': 8,
 'vijay sethupathi': 8,
 'michiel huisman': 8,
 'ayo makun': 8,
 'emma roberts': 8,
 'ludacris': 8,
 'natasha lyonne': 8,
 'michelle buteau': 8,
 'madhuri dixit': 8,
 'himani shivpuri': 8,
 'ben whishaw': 8,
 'josh lucas': 8,
 'kellan lutz': 8,
 'mark strong': 8,
 'kensho ono': 8,
 'tatsuhisa suzuki': 8,
 'gael garcía bernal': 8,
 'sarah jessica parker': 8,
 'chadwick boseman': 8,
 'crispin glover': 8,
 'dylan mcdermott': 8,
 'kristin scott thomas': 8,
 'jon bernthal': 8,
 'urmila matondkar': 8,
 'nse ikpe-etim': 8,
 'riteish deshmukh': 8,
 'satish kaushik': 8,
 'imran khan': 8,
 'arbaaz khan': 8,
 'samy maghawry': 8,
 'bob balaban': 8,
 'nasser': 8,
 'maaya uchida': 8,
 'femi adebayo': 8,
 'martin sheen': 8,
 'stellan skarsgård': 8,
 'yui horie': 8,
 'yogi babu': 8,
 'falz': 8,
 'deepika padukone': 8,
 'leonardo sbaraglia': 8,
 'oliver platt': 8,
 'tom hanks': 8,
 'jesse plemons': 8,
 'keiji fujiwara': 8,
 'philip baker hall': 8,
 'seann william scott': 8,
 'jeff bridges': 8,
 'tommy lee jones': 8,
 'bradley cooper': 8,
 'chris attoh': 8,
 'rana daggubati': 8,
 'stephen root': 8,
 'elle fanning': 8,
 'jackson rathbone': 8,
 'shia labeouf': 8,
 'sarah gadon': 8,
 'jesse eisenberg': 8,
 'reese witherspoon': 8,
 'bryce papenbrook': 8,
 'octavia spencer': 8,
 'alison pill': 8,
 'mindy sterling': 8,
 'heather graham': 8,
 'mark wahlberg': 8,
 'josh duhamel': 8,
 'rooney mara': 8,
 'jennifer aniston': 8,
 'jake johnson': 8,
 'ami koshimizu': 8,
 'shizuka ito': 8,
 'simon pegg': 8,
 'toby huss': 8,
 'leslie bibb': 8,
 'kevin spacey': 8,
 'kate winslet': 8,
 'ben affleck': 8,
 'ciarán hinds': 8,
 'brad pitt': 8,
 'ryotaro okiayu': 8,
 'paul reiser': 8,
 'james cosmo': 8,
 'soma saito': 8,
 'demián bichir': 8,
 'missi pyle': 8,
 'lisa kudrow': 8,
 'vinnie jones': 8,
 'jason bateman': 8,
 'tituss burgess': 8,
 'aaron paul': 8,
 'atsuko tanaka': 8,
 'smita jaykar': 8,
 'robert forster': 8,
 'neena gupta': 8,
 'kumud mishra': 8,
 'aditi rao hydari': 8,
 'rio dewanto': 8,
 'enyinna nwigwe': 8,
 't.i.': 8,
 'jeffrey wright': 8,
 'david schwimmer': 8,
 'saurav chakraborty': 8,
 'selma blair': 8,
 'olivia colman': 8,
 'vinay pathak': 8,
 'cengiz bozkurt': 8,
 'wale ojo': 8,
 'yılmaz erdoğan': 8,
 'ratna pathak shah': 8,
 'bea alonzo': 8,
 'manav vij': 8,
 'melissa leo': 8,
 'john cusack': 8,
 'madhavan': 8,
 'farhan akhtar': 8,
 'alyson leigh rosenfeld': 8,
 'hiroaki hirata': 8,
 'macon blair': 8,
 'deon cole': 8,
 'kat graham': 8,
 'bipasha basu': 8,
 'haluk bilginer': 8,
 "vincent d'onofrio": 8,
 'ben schwartz': 8,
 'john mulaney': 8,
 'jon favreau': 8,
 'amy sedaris': 8,
 'james fox': 8,
 'kishore kadam': 8,
 'lillete dubey': 8,
 'kristen schaal': 8,
 'sarah paulson': 8,
 'brittany snow': 8,
 'ed helms': 8,
 'iko uwais': 8,
 'shabana azmi': 8,
 'jon hamm': 8,
 'hugo weaving': 8,
 'michael gross': 8,
 'christopher mintz-plasse': 8,
 'jeff garlin': 8,
 'sharon stone': 8,
 'riley keough': 8,
 'subodh bhave': 8,
 'ken marino': 8,
 'bobby deol': 8,
 'allison janney': 8,
 'john rhys-davies': 8,
 'karen strassman': 8,
 'audu paden': 8,
 'evan smith': 8,
 'tabu': 8,
 'dimple kapadia': 8,
 'jason flemyng': 8,
 'nicholas hoult': 8,
 'ezzat abou aouf': 8,
 'kiron kher': 8,
 'pran': 8,
 'zeenat aman': 8,
 'lara dutta': 8,
 'michael cera': 8,
 'emory cohen': 8,
 'arya babbar': 8,
 'purab kohli': 8,
 'prabhas': 8,
 'al pacino': 8,
 'nirmal rishi': 8,
 'aki toyosaki': 8,
 'michael dobson': 8,
 'emma stone': 8,
 'tannishtha chatterjee': 8,
 'carrie-anne moss': 8,
 'rasika dugal': 8,
 'thomas mann': 8,
 'david strathairn': 8,
 'santosh juvekar': 8,
 'anushka shetty': 8,
 'arjun mathur': 8,
 'matt hill': 8,
 'kader khan': 8,
 'jeanette aw': 8,
 'rekha': 8,
 'melanie lynskey': 8,
 'smita malhotra': 8,
 'henry thomas': 7,
 'annabeth gish': 7,
 'logan marshall-green': 7,
 'blanca suárez': 7,
 'colin quinn': 7,
 'trevor devall': 7,
 'ini dima-okojie': 7,
 'kemi lala akindoju': 7,
 'toni tones': 7,
 'ethan hawke': 7,
 'cliff curtis': 7,
 'eva mendes': 7,
 'dakore akande': 7,
 'noriko hidaka': 7,
 'nicole byer': 7,
 'noriaki sugiyama': 7,
 'showtaro morikubo': 7,
 'nana mizuki': 7,
 'hirotaka suzuoki': 7,
 'sharon ooja': 7,
 'kenji nojima': 7,
 'patrick stewart': 7,
 'funke akindele': 7,
 'um sang-hyun': 7,
 'giovanni ribisi': 7,
 'michael keaton': 7,
 'akshay oberoi': 7,
 'mark ruffalo': 7,
 'kevin bacon': 7,
 'lin shaye': 7,
 'sigourney weaver': 7,
 'benjamin bratt': 7,
 'jude law': 7,
 'natalie portman': 7,
 'donald sutherland': 7,
 'channing tatum': 7,
 'scott porter': 7,
 'john turturro': 7,
 'angela bassett': 7,
 'bernie mac': 7,
 'yuki ono': 7,
 'kiana madeira': 7,
 'kal penn': 7,
 'sterling k. brown': 7,
 'ashton kutcher': 7,
 'jeffrey tambor': 7,
 'paul reubens': 7,
 'eddie izzard': 7,
 'burt young': 7,
 'sarah silverman': 7,
 'randall park': 7,
 'dave chappelle': 7,
 'louis c.k.': 7,
 'tantoo cardinal': 7,
 'darshan jariwala': 7,
 'avtar gill': 7,
 'sonali bendre': 7,
 'sunny leone': 7,
 'andy serkis': 7,
 'tom wilkinson': 7,
 'olga kurylenko': 7,
 'bill smitrovich': 7,
 'jay duplass': 7,
 'david tennant': 7,
 'alicia vikander': 7,
 'catherine keener': 7,
 'jorge diaz': 7,
 'maxi iglesias': 7,
 'joel courtney': 7,
 'molly ringwald': 7,
 'wataru takagi': 7,
 'imanol arias': 7,
 'ernesto alterio': 7,
 'james wen': 7,
 'angelina jolie': 7,
 'christopher walken': 7,
 'anna faris': 7,
 'james caan': 7,
 'charlie sheen': 7,
 'michael ironside': 7,
 'lee tockar': 7,
 'diane keaton': 7,
 'marcia gay harden': 7,
 'maurice lamarche': 7,
 'ryan phillippe': 7,
 'chris evans': 7,
 'christian bale': 7,
 'jamie foxx': 7,
 'josé coronado': 7,
 'emilio gutiérrez caba': 7,
 'martin freeman': 7,
 'diego luna': 7,
 'lochlyn munro': 7,
 'benjamin flores jr.': 7,
 'james arnold taylor': 7,
 'maryke hendrikse': 7,
 'bobby moynihan': 7,
 'billy burke': 7,
 'elizabeth reaser': 7,
 'bryce dallas howard': 7,
 'kenyu horiuchi': 7,
 'bill pullman': 7,
 'kehinde bankole': 7,
 'bella thorne': 7,
 'hugo silva': 7,
 'fred willard': 7,
 'kate berlant': 7,
 'smita tambe': 7,
 'shammi kapoor': 7,
 'vikrant massey': 7,
 'jamie bell': 7,
 'rob lowe': 7,
 'joe don baker': 7,
 'chiwetel ejiofor': 7,
 'jason sudeikis': 7,
 'clive owen': 7,
 'stephen campbell moore': 7,
 'hisako kanemoto': 7,
 'taraji p. henson': 7,
 'cuba gooding jr.': 7,
 'merritt wever': 7,
 'jason mantzoukas': 7,
 'sora amamiya': 7,
 'chandan roy sanyal': 7,
 'dibyendu bhattacharya': 7,
 'sarah shahi': 7,
 'aislinn derbez': 7,
 'james purefoy': 7,
 'michael kenneth williams': 7,
 'shuichi ikeda': 7,
 'whoopi goldberg': 7,
 'joju george': 7,
 'shea whigham': 7,
 'adrian petriw': 7,
 'marlon wayans': 7,
 'ryota osaka': 7,
 'molly parker': 7,
 'tom sizemore': 7,

#### Task 5 Answer: Anupam Kher
Appeared in 43 movies